<div>
      <div class="container-fluid">
        
        <nav class="navbar navbar-inverse">
        <%= image_tag("logo.png",:class => "img_preview")%>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><%= link_to 'sign out',session_destroy_path%>
            </li> -->
            <li><%=image_tag current_user.image,:class => 'img_preview'%></li>
            <li><%=link_to current_user.username,user_edit_path%></li>

            <li><%= button_to "sign out",session_destroy_path,:class => "btn btn-md btn-success signbutton",method: :get%></li>
            
            <!-- <li><button type="button" class="btn btn-success btn-md btn-space1" data-toggle="modal" data-target="#myModal1">Sign out</button>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>


<div class = "col-sm-4">
    <div class="container">
    <%#binding.pry%>
    <%if current_user.id == @event.owner_id%>
      <%=form_for :event,url: events_edit_path(@event),method: :put do |f|%>
          <%=f.label :Event_name%><br>
          <%=f.text_field :event_name%><br>
          <%=f.label :Venue%><br>
          <%=f.text_field :venue%><br>
          <%=f.label :Date%><br>
          <%=f.text_field :date%><br>
          <%=f.label :Time%><br>
          <%=f.text_field :time%><br>
          <%=f.label :Description%><br>
          <%=f.text_field :description%><br>
          <%@users.each do |t|%><br>
          <%=check_box_tag 'invitee_ids[]',t.id,@event.invitee_ids.include?(t.id)%><%=t.username%><br>
          <%end%>
          <%=f.label :status%><br>
          <%= f.select :status, ['open', 'closed']%><br><br>
          <%=f.submit :ok%>
          <%= f.submit "cancel", :type => "reset" %><br>
      <%end%>
      <%else%>
      <%=form_for :event,url: error_path(@event),method: :get do |f|%>
          <%=f.label :Event_name%><br>
          <%=f.text_field :event_name,:disabled => true%><br>
          <%=f.label :Venue%><br>
          <%=f.text_field :venue,:disabled => true%><br>
          <%=f.label :Date%><br>
          <%=f.text_field :date,:disabled => true%><br>
          <%=f.label :Time%><br>
          <%=f.text_field :time,:disabled => true%><br>
          <%=f.label :Description%><br>
          <%=f.text_field :description,:disabled => true%><br>
          <%@users.each do |t|%><br>
          <%=check_box_tag 'invitee_ids[]',t.id, @event.invitee_ids.include?(t.id)%><%=t.username%><br>
          <%end%>
          <%=f.label :status%><br>
          <%= f.select :status, ['open', 'closed']%><br><br>
          <%=f.submit :ok%>
          <%= f.submit "cancel", :type => "reset" %><br>
      <%end%>
      <%end%>
     </div>
     </div>