<!DOCTYPE html>
  <html>
  <head>
    <title></title>
<!--     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script> -->
  </head>
  <body>
    
      <div class="container-fluid">
        
        <nav class="navbar navbar-inverse">

        <%= image_tag("logo.png",:class => "img_preview")%>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><%= link_to 'sign out',session_destroy_path%>
            </li> -->
            <li><%=image_tag current_user.image,:class => 'img_preview'%></li>
            <li><%=link_to current_user.username,user_edit_path(current_user)%></li>
            <li><button class="btn btn-md btn-success signbutton" data-toggle="modal" data-target="#myModal1"> invitations</button></li>
            <li><%= button_to "sign out",session_destroy_path,:class => "btn btn-md btn-success signbutton",method: :get%></li>

            <!-- <li><button type="button" class="btn btn-success btn-md btn-space1" data-toggle="modal" data-target="#myModal1">Sign out</button>
            </li> -->
          </ul>
        </nav>
      </div>
<!--       <%if current_user.invitations.last%>
      <p class="not"></p>
      <%end%> -->
      
    
    <div class="container">
    <%= button_to "create new event",event_form_path,:class => "btn btn-md btn-success eventbutton",method: :get%>
    </div>
<div class = "row">
    <div class = "col-sm-2"></div>
    <div class = "col-sm-4" >
    <!-- <div class = "container"> -->
      
      <%@events.each do |a|%><%#binding.pry%>
      <%#=link_to events_edit_path(a) do%>
      <div style = "background-color: #a8a2a1;" class="well"><h4> <label style="color:green">Event</label>: <%=link_to a.event_name,events_edit_path(a)%><br><br>
        <label style="color:green;">Organiser</label>:<%var=a.owner_id%>
                  <%usr = User.find_by_id(var)%>
                  <%=usr.username%> <br><br>
      <div style="float:right;background-color:red"><%=a.status%></div>
      <button type="button" class="btn btn-primary btn-md btn-space1" data-toggle="modal" data-target="#myModal-<%= a.id%>">participants</button>
    <div id="myModal-<%= a.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">

     Modal content
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">participants</h4>
      </div>
      <div class="modal-body container"> 
      
      <%a.invitations.each do |s| %>
      <%#binding.pry%>
        <%var1=s.invitee_id%>
        <%usrs = User.find_by_id(var1)%>
        <%=usrs.username%><br><br>
        <%end%></h4></div><br><br>

        <%end%>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->

       <%#end%>

    </div>

    </div>
    <div class="col-sm-6"></div>
  </div> 
  <div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Invitations</h4>
      </div>
      <div class="modal-body container">
        <%current_user.invitations.each do |x|%>
          <%inv = x.event_id%>
          <%y = Event.find_by_id(inv)%>
          Event:<%=y.event_name%><br>
          Date:<%=y.date%><br>
          time:<%=y.time%><br><br><br>
        <%end%> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  $.notify("Check invitations!!",{position:'top'});
</script>
</body>
</html>